---
layout: "layouts/workflows.njk"
title: "Workflows"
permalink: "/workflows/"
eleventyExcludeFromCollections: true
---


{% set listData = collections.workflows %}
{% include "components/shared.njk" %}

