---
layout: "layouts/main.njk"
title: "Workflows"
permalink: "/workflows/"
eleventyExcludeFromCollections: true
---


{% set listData = collections.workflows %}
{% include "components/section.njk" %}

