---
layout: "page"
title: "标签"
permalink: "/tags/"
eleventyExcludeFromCollections: true
---

<section class="tags">
  <h2>{{ title }}</h2>

  <ul class="list-none pl-0">
    {% for tag in collections.tagList %}
      <li class="pl-0">
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        {% set blogCount %}{{ collections[tag].length }}{% endset %}
        <a class="text-blue-500 no-underline" href="{{ tagUrl }}">{{ tag }}</a> - 
        <span>{{ blogCount }} 篇文章</span>
      </li>
    {% endfor %}
  </ul>

</section>
