.margin-bottom-sm {
  margin-bottom: var(--space-8) !important;
}

.margin-bottom-md {
  margin-bottom: var(--space-16) !important;
}

.margin-bottom-xl{
  margin-bottom: var(--space-24) !important;
}

.margin-bottom-2xl{
  margin-bottom: var(--space-48) !important;
}

.u-text-align-center {
  text-align: center;
}