:root {
  // Color
  --black-light: #555;
  --black-deep: rgba(10, 10, 10, 0.8);
  --grey-light: #f0f0f0;
  --grey: #999;

  --highlight-1: rgba(247, 112, 94, 0.993);
  --highlight-2: #0684bd;
  --highlight-3: #f9994b;

  --color-text-default: var(--black-deep);
  --color-code: rgba(255, 229, 100, 0.2);

  // border
  --line: 1px solid var(--grey-light);
  --line-transparent: 2px solid transparent;

  // box-shadow
  --shadow-outline: 0 0 1px var(--black-light);

  // gap
  --gutter-bigger: 4rem;
  --gutter-big: 2rem;
  --gutter-middle: 1.2rem;
  --gutter-small: 0.875rem;

  // margin
  --margin-top: 6rem;
  --margin-bottom: 4rem;

  --font-weight-lighter: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 500;
  --font-weight-bolder: 700;
}

// Sass Variable - Media breakpoints
$bp-largest: 1800px;
$bp-large: 1200px;
$bp-medium: 900px;
$bp-small: 500px;
