<section id="app-products" class="mb-8">
  <h2 class="mb-2">项目</h2>
  {% set products = homepage.products %}

  {% for product in products %}
  <ul class="list-none pl-0">
    <li class="pl-0">
      <span>{{ product.title }} - {{ product.description }}</span>
      <div>
        {% if product.online %}
            <a href="{{ product.online }}">在线预览</a>
        {% endif %}
        {% if product.repos %}
           {% for repo in product.repos %}
             <a href="{{ repo.href }}">{{ repo.title }}</a>
           {% endfor %}
        {% endif %}
      </div>
    </li>
  </ul>
  {% endfor %}
</section>
