# Logs
*.log
yarn-debug.log
yarn-error.log

# Dependency directories
/node_modules/

# Build
/dist/

# dotenv environment variables file
.env

#Mac OS
.DS_Store

#Temp build files
src/static/*.js
src/static/*.css
