body {
  font-family: "Noto Sans SC", sans-serif;
  color: var(--color-text-default);
  @include font(inherit, var(--font-weight-normal), 1.5);
}

.page-heading {
  margin-bottom: var(--gutter-bigger);
}

.heading-primary {
  @include font(3rem, var(--font-weight-bold), 1.25);
  margin: var(--gutter-middle) 0;
}

.heading-secondary,
.heading-tertiary {
  margin-bottom: var(--gutter-bigger);
  padding-bottom: var(--gutter-middle);
  border-bottom: var(--line);
}

.heading-secondary {
  @include font(2.75rem, var(--font-weight-bold), 1.25);
}

.heading-tertiary {
  @include font(1.6rem, var(--font-weight-bold), 1.25);
}

.heading__info {
  font-size: 1.6rem;
}

// 文章样式

.post {
  padding: 0 12rem;
  word-spacing: 0.2rem;
  @include font(1.64rem, var(--font-weight-normal), 1.8);

  @media only screen and (max-width: 1200px) {
    // 1200px
    padding: 0 6rem;
  }

  @media only screen and (max-width: 900px) {
    // 900px
    padding: 0 4rem;
  }

  @media only screen and (max-width: 900px) {
    // 600px
    padding: 0;
  }
}

.post-article {
  & > div,
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 1rem;
  }

  & > h2 {
    font-size: 2.25rem;
    border-left-width: 5px;
    border-left-color: #f9994b;
    border-left-style: solid;
    padding-left: 8px;
  }

  & > h3 {
    font-size: 1.64rem;
  }

  & > h4 {
    font-size: 1.4rem;
  }

  & > p,
  ul,
  ol {
    margin-bottom: 1.5rem;
  }

  & > ul,
  ol {
    & > li {
      margin-left: 3.3rem;

      p {
        margin-bottom: 0.5rem;
      }
    }
  }

  & > ul {
    list-style-type: disc;

    ul {
      list-style-type: circle;

      li {
        margin-left: 3.3rem;
      }
    }
  }

  & > ol {
    list-style-type: decimal;
  }

  a {
    &:link,
    &:visited {
      padding-bottom: 4px;
      border-bottom: 1px solid var(--highlight-3);
    }

    &:hover {
      color: var(--highlight-3);
    }
  }

  img,
  object,
  video,
  audio {
    max-width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
  }

  img {
    box-shadow: 0 1px 10px rgba(85, 85, 85, 0.25);
  }
}

.post__info {
  margin-bottom: 4rem;
  line-height: 1.2rem;
}

.post__title {
  @include font(3.375rem, var(--font-weight-bold), 1.15);
}

.post__date {
  font-size: 1.4rem;
  margin-right: 1rem;
}

:not(pre) > code {
  border-radius: 6px;
  padding: 0.2rem 0.8rem;
  font: inherit;
  background-color: var(--color-code);
}

blockquote {
  margin-bottom: 3rem;
  padding: 2rem;
  border-left: 5px solid;
  background-color: #fafafa;

  p:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }
}

.iframe-wrapper {
  position: relative;
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.center {
  text-align: center;
}
