.article {
  font-size: 1.6rem;

  &:not(:last-of-type) {
    margin-bottom: var(--gutter-bigger);

    @media only screen and (max-width: 600px) {
      // 600px
      margin-bottom: 6rem;
    }
  }

  &__heading {
    margin-bottom: var(--gutter-small);
    @include font(2.2rem, var(--font-weight-bold), 0.785);

    @media only screen and (max-width: 600px) {
      // 600px
      font-size: 1.8rem;
    }
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }

  &__info {
    margin-bottom: var(--gutter-middle);
    font-size: 1.4rem;
  }

  &__time {
    margin-right: var(--gutter-small);
  }

  &__overview {
    @include font(1.6rem, var(--font-weight-normal), inherit);
    @media only screen and (max-width: 600px) {
      // 600px
      font-size: 1.5rem;
    }
  }
}
