.article {
  font-size: 1.6rem;

  &:not(:last-of-type) {
    margin-bottom: var(--gutter-bigger);

    // @media only screen and (max-width: 600px) {
    //   // 600px
    //   margin-bottom: 6rem;
    // }
  }

  &__heading {
    // margin-bottom: var(--gutter-small);
    @include font(2rem, var(--font-weight-bold), 1.12);

    @media only screen and (max-width: 600px) {
      font-size: 1.563rem;
    }
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }

  &__info {
    margin-bottom: var(--gutter-small);
  }

  &__time {
    margin-right: var(--gutter-small);
    font-size: 1.25rem;
    color: var(--grey);
    @media only screen and (max-width: 600px) {
      // 600px
      // font-size: 1rem;
    }
  }

  &__overview {
    color: var(--black-light);
    @include font(1.563rem, var(--font-weight-normal), inherit);
    @media only screen and (max-width: 600px) {
      // 600px
      font-size: 1.25rem;
    }
  }
}
