.hero {
  display: flex;
  font-size: 1.4rem;

  @media screen and (min-width: 768px) {
    font-size: 1.6rem;
  }

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
  }

  &-avatar {
    @include size(12rem, 12rem);
    border-radius: 50%;
    margin-bottom: var(--space-16);
    @media screen and (min-width: 768px) {
      @include size(24rem, 24rem);
    }
  }
  
  &-name {
    @include font(2.0rem, 900, inherit);
    margin-bottom: var(--space-16);
  }
  
  &-items {
    display: flex;
  }
  
  &-link {
    display: inline-flex;
    padding: var(--space-8) var(--space-16);
  }
}