.hero {
  min-height: 100vh;
}

.link {
  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--highlight-2);
  }
}

.secondary-heading {
  position: relative;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--space-48);
  text-align: center;
  font-size: 2.4rem;
  
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    left: 0;
    bottom: 0;
    background-color: var(--highlight-2);
    opacity: 0.4;
  }

  &-articles, &-about {
    padding-top: var(--space-64);
  }
}


.tertiary-heading {
  font-size: 2.0rem;
  margin-bottom: var(--space-24);
}

.items {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}