.btn-menu {
  display: none;
}

.btn-label {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  @media only screen and (max-width: 900px) {
    display: block;
  }
}

.btn-span,
.btn-span::before,
.btn-span::after {
  display: inline-block;
  width: 2.5rem;
  height: 2px;
  background-color: #000;
}

.btn-span::before,
.btn-span::after {
  content: "";
  position: absolute;
}

.btn-span::before {
  top: 6px;
}

.btn-span::after {
  top: 12px;
}

.btn-menu:checked ~ .site-nav__items {
  width: 100%;
  display: block;
}
