.products {
  &-item {
    display: grid;
    place-items: center;
    justify-content: center;
    row-gap: var(--space-8);

    width: 85vw; 
    margin: 0 auto;
    padding: var(--space-16) var(--space-24);
    background-color: var(--grey-light);
    border-radius: var(--radius-md);

    @media screen and (min-width: 420px) {
      grid-template-rows: auto;
      grid-template-columns: minmax(100px, 300px) 200px;
      place-items: start left;
      gap: 0 3rem;
    }

    @media screen and (min-width: 1120px) {
      max-width: 1120px;
    }
  }
  
  &-img {
    width: 250px;
    @media screen and (min-width: 420px) {
      grid-row: 1 / 4;
    }
  }

  &-link {
    border-bottom: 1px solid var(--highlight-2);

    @media screen and (min-width: 420px) {
      grid-column: 2 / 3;
    }
  }

  &-heading {
    font-size: 2.0rem;

    @media screen and (min-width: 420px) {
      grid-column: 2 / 3;
      align-self: center;
      margin: 0;
    }
  }

  &-desc {
    font-size: 1.4rem;
  }
}