// social icon 组件
.social-icons {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-24);

  a {
    &:link, &:visited {
      display: flex; // 子元素垂直水平对齐容器
      border-radius: 50%;
      transition: all 0.2s ease-in-out;
      @include size(3rem, 3rem);

      &:not(:last-child) {
        margin-right: var(--gutter-big);
      }
    }

    &:hover {
      background-color: var(--black-deep);

      svg {
        fill: var(--highlight-1);
      }
    }

    &:active {
      transform: translateY(2px);
    }
  }

  svg {
    margin: auto; // flex item 居中对齐
    fill: var(--black-deep);
    transition: all 0.2s;
    @include size(1.5rem, 1.5rem);
  }
}