.stress {
  &:link,
  &:visited {
    color: var(--highlight-2);
  }

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.stress.stress--tag {
  font-size: 1.25rem;
  @media only screen and (max-width: 600px) {
    // 600px
    font-size: 1rem;
  }

  &:link,
  &:visited {
    color: var(--highlight-3);
    text-decoration: none;

    &:not(:last-of-type) {
      margin-right: 0.5rem;
    }
  }
}
