.repos {
  &-content {
    margin-bottom: var(--space-24);
  }

  &-items {
    font-size: 1.8rem;
  }

  &-item {
    margin-bottom: var(--space-16);
  }

  &-description {
    display: block;
    font-size: 1.2rem;
    color: #b5b5b5;
  }

  &-link {
    display: inline-flex;
    padding: var(--space-4);
  }
}