{% extends "layouts/base.njk" %}


{% block articlesPage %}
  <section class="articles">

  {% for post in collections.posts %}
    <article class="article">
      <h3 class="article__heading">
        <a class="article__link" href="{{ post.url }}">{{ post.data.title }}</a>
      </h3>
      <div class="article__info">
        <time class="article__time" datetime="2019-08-01">August 8th, 2019</time>
        <a href="#" class="stress article__category">{{ post.data.category }}</a>
      </div>
      <p class="article__overview">{{ post.data.description }}</p>
    </article>
  {% endfor %}

    <div class="btn-box">
      <button class="btn btn-prev">
        <a href="#">
          <span class="">&larr;
          </span>上一页</a>
      </button>
      <button class="btn btn-next">
        <a href="#">下一页
          <span class="">&rarr;</span></a>
      </button>
    </div>
  </section>

{% endblock articlesPage %}