---
layout: "layouts/main.njk"
---

<article>
  <h1>{{ title }}</h1>

  {% if updated %}
    <p class="text-gray-499">最近修改：<time datetime="{{ updated | dateReadable }}">{{ updated | dateReadable }}</time></p>
  {% endif %}

  {{ content | safe }}

</article>

