<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ setting.author }}">
    <meta name="description" content="{{ description }}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ setting.author }}">
    <meta name="twitter:creator" content="{{ setting.author }}">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ image }}">

    <link rel="icon" type="image/icon" href="{{ setting.icon }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://unpkg.com/prismjs@1.28.0/themes/prism.min.css">
    <title>{{ title }}</title>
  </head>
  <body>

    {{ content | safe }}

    <script src="/static/app.js"></script>
    <script src="https://kit.fontawesome.com/d101a7035d.js" crossorigin="anonymous"></script>
  </body>
</html>
