<header id="app-header" class="sm:flex sm:items-center mb-4">
  <h1 class="text-4xl mb-4 sm:mb-0">byodian's blog</h1>
  <ul class="flex items-center justify-between sm:ml-8 md:gap-x-8 sm:gap-x-4 gap-x-1">
    {% for menu in setting.menu %}
      <li>
        <a href="{{ menu.url }}">{{ menu.name }}</a>
      </li>
    {% endfor %}
  </ul>
</header>
