<div class="hero">
  <div class="hero-content">
    <h1 class="hero-name">byodian's blog</h1>
    <!-- {% include "layouts/social.njk" %} -->
    <ul class="hero-items">
      <li class="hero-item"><a href="#products" class="link hero-link">项目</a></li>
      <li class="hero-item"><a href="#articles" class="link hero-link">资源</a></li>
      <li class="hero-item"><a href="#about" class="link hero-link">关于</a></li>
    </ul>
  </div>
</div>
