{% extends "layouts/base.njk" %} {% block content %}

{% include "layouts/hero.njk" %}
{% include "layouts/products.njk" %}
{% include "layouts/opensources.njk" %}
{% include "layouts/about.njk" %}

{% endblock content %}
