---
layout: "layouts/base.njk"
---

<div id="root" class="md:container prose prose-zinc mx-auto xl:px-64 md:px-8 px-4 pt-4">
  {% include "layouts/header.njk" %}
  <main>
    {{ content | safe }}
  </main>
  {% include "layouts/footer.njk" %}
</div>
