---
layout: "base"
---

<div id="root" class="container max-w-4xl mx-auto px-6 pt-4">
  <header class="mt-16 mb-8">
    <p><a class="font-bold" href="/">byodian's blog</a></p>
  </header>

  <div class="pb-5 mb-5 border-b  border-gray-100">
    <h1 class="text-5xl">{{ title }}</h1>
    <p class="text-gray-400"><time datetime="{{ created | dateReadable }}">{{ created | dateReadable }}</time></p>
  </div>

  <article class="prose lg:prose-lg">
    {{ content | safe }}

    {% if updated %}
      <p class="text-gray-499">最近修改：<time datetime="{{ updated | dateReadable }}">{{ updated | dateReadable }}</time></p>
    {% endif %}
  </article>

  {% include "layouts/footer.njk" %}
</div>
