// infomation

.info {
  margin: 7.5rem 0;
  font-size: 1.6rem;

  @media only screen and (max-width: 600px) {
    margin: 4.5rem 0;
  }
}

.site-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__photo {
    @include size(30rem, 30rem);
    border-radius: 50%;

    @media only screen and (max-width: 600px) {
      @include size(20rem, 20rem);
    }
  }

  &__job {
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--gutter-bigger);

    @media only screen and (max-width: 600px) {
      margin-bottom: 2.8rem;
    }
  }

  &__study {
    word-spacing: 0.2rem;
    margin-bottom: var(--gutter-middle);
  }
}

// Homepage Content
.homepage-articles,
.homepage-projects {
  margin-bottom: var(--gutter-bigger);
}

// Homepage section

.section-info {
  // 按钮定位祖先元素
  position: relative;
}

// Social icon 组件在 sass/components/_social.scss

.homepage-icons {
  align-items: center;
  height: 10rem;

  @media only screen and (max-width: 600px) {
    height: 6rem;
  }

  a {
    &:link,
    &:visited {
      @include size(5rem, 5rem);
      @media only screen and (max-width: 600px) {
        @include size(4rem, 4rem);
      }
    }
  }

  svg {
    @include size(3rem, 3rem);

    @media only screen and (max-width: 600px) {
      @include size(2.5rem, 2.5rem);
    }
  }
}
