// infomation

.site-info {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__photo {
    @include size(30rem, 30rem);
    border-radius: 50%;

    @media only screen and (max-width: 600px) {
      @include size(20rem, 20rem);
    }
  }

  &__job {
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--gutter-bigger);

    @media only screen and (max-width: 600px) {
      margin-bottom: 2.8rem;
    }
  }

  &__study {
    word-spacing: 0.2rem;
    margin-bottom: var(--gutter-middle);
  }
}

// Homepage Content
.homepage-articles,
.homepage-projects {
  margin-bottom: var(--gutter-bigger);
}

// Homepage section

.section-info {
  // 按钮定位祖先元素
  position: relative;
}