// 分类页面 - 主要内容

.cate-content {
  display: flex; 
  justify-content: space-between;
}

.categories {
  flex: 0 0 70%;
}

.category__item {
  display: flex;
  justify-content: space-between;
}

.category__content {
  flex: 0 0 80%;  
}
