// 分类页面 - 侧边栏标签云
.tags {
  &__items {
    display: flex;

    flex-wrap: wrap;
    font-size: 1.2rem;
 
  }

  &__item {

    &:not(:last-of-type) {
      margin-right: .5rem;
      margin-bottom: 1rem;
    }

  }

  &__link {
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: var(--grey-lighter);
    box-shadow: var(--shadow-outline);
  }
}