{% extends "layouts/base.njk" %}
{% block pageHeader %}{% endblock pageHeader %}
{% block articlesPage %}
  <section class="articles">
    {% set postslist = collections.posts %}
    {% include "layouts/postslist.njk" %}
  </section>
{% endblock articlesPage %}
{% block pageFooter %}{% endblock pageFooter %}