{% extends "layouts/base.njk" %}
{% block content %}
  <div class="bookmarks">
    <div class="categories">
      {% set postslist = collections.bookmarks %}
      {% include "layouts/postslist.njk" %}
    </div>
    {% include 'layouts/aside.njk'%}
  </div>
{% endblock content %}
{% block pageFooter %}{% endblock pageFooter %}