{% extends "layouts/base.njk" %}
{% block content %}
  <section class="bookmarks">
    <section class="categories">
      {% set postslist = collections.bookmarks %}
      {% include "layouts/postslist.njk" %}
    </section>
    {% include 'layouts/aside.njk'%}
  </section>
{% endblock content %}
{% block pageFooter %}{% endblock pageFooter %}