{% extends "layouts/base.njk" %}

{% block content %}

  <section class="cate-content">
    <section class="categories">

      {% for post in collections.posts %}
        <article class="article category__item">
          <div class="category__content">
            <h3 class="article__heading">
              <a class="article__link" href="{{ post.url }}">
                {{ post.data.title }}
              </a>
            </h3>
            <div class="article__info">
              <time class="article__time" datetime="2019-08-01">August 8th, 2019</time>
              <a href="#" class="stress article__tag">{{ post.data.category }}</a>
            </div>
            <p class="article__overview">{{ post.data.description }}</p>
          </div>

        </article>
      {% endfor %}

      <div class="btn-box">
        <button class="btn btn-prev">
          <a href="#">
            <span>&larr;
            </span>上一页</a>
        </button>
        <button class="btn btn-next">
          <a href="#">下一页
            <span>&rarr;</span></a>
        </button>
      </div>

    </section>
    <aside class="sidebar">
      <section class="tags">
        <h3 class="heading-tertiary heading-tertiary--aside">分类</h3>
        <ul class="tags__items">
          <li class="tags__item">
            <a class="tags__link" href="#">Life</a>
          </li>
          <li class="tags__item">
            <a class="tags__link" href="#">JavaScript</a>
          </li>
          <li class="tags__item">
            <a class="tags__link" href="#">Life</a>
          </li>
          <li class="tags__item">
            <a class="tags__link" href="#">Li</a>
          </li>
          <li class="tags__item">
            <a class="tags__link" href="#">Life</a>
          </li>
          <li class="tags__item">
            <a class="tags__link" href="#">Life</a>
          </li>
          <li class="tags__item">
            <a class="tags__link" href="#">Life</a>
          </li>
        </ul>
      </section>

      <section class="sidebar__about">
        <h3 class="heading-tertiary heading-tertiary--aside">About</h3>
        <div class="sidebar__about-info">
          <figure class="sidebar__photo-box">
            <img class="sidebar__photo" src="/assets/img/avatar.png" alt="avatar photo">
          </figure>
          <p class="sidebar__para">web 设计、开发</p>
        </div>
      </section>

      <figure class="social-icons sidebar__social">
        {% for icon in icons %}
          <a class="social-link" href="{{ icon.link.url}}">
            <svg class="social-icon">
              <use xlink:href="/assets/img/sprites.svg#{{ icon.link.name }}"></use>
            </svg>
          </a>
        {% endfor %}

      </figure>

    </aside>
  </section>

{% endblock content%}
{% block pageFooter %}{% endblock pageFooter %}