{% extends "layouts/base.njk" %}
{% block pageHeader %}{% endblock pageHeader %}
{% block content %}
  <section class="homepage-articles">
    <section class="articles">
      {% set postslist = collections.posts | arrFilter %}
      {% include "layouts/postslist.njk" %}
    </section>
  </section>
  <section class="homepage-projects">
    <div class="columns">
      {% set columns = collections.projects | arrFilter %}
      {% include 'layouts/column.njk' %}
    </section>
  {% endblock content %}