{% extends "layouts/base.njk" %}
{% block pageHeader %}{% endblock pageHeader %}
{% block content %}
  <section class="info">
    <div class="site-info">
      <img src="{{ setting.avatar }}" alt="info photo" class="site-info__photo">
      <h1 class="heading-primary">{{ homepage.siteName }}</h1>
      <p class="site-info__job">{{ setting.personalInfo }}</p>
      <p class="site-info__study">正在学习
        {% for study in homepage.studys %}
          <a class="stress" href="{{ study.url }}">{{ study.text }}</a>
        {% endfor %}
      </p>
      <figure class="social-icons homepage-icons">
        {% for icon in setting.socials %}
          <a class="social-link" href="{{ icon.url}}">
            <svg class="social-icon">
              <use xlink:href="/assets/img/sprites.svg#{{ icon.name }}"></use>
            </svg>
          </a>
        {% endfor %}
      </figure>
    </div>
  </section>
  <section class="homepage-articles">
    <section class="section-info">
      <h2 class="heading-secondary ">最近文章</h2>
      <button class="btn btn-read">
        <a href="/posts">查看更多</a>
      </button>
    </section>
    <section class="articles">
      {% set postslist = collections.posts %}
      {% include "layouts/postslist.njk" %}
    </section>
  </section>
  <section class="homepage-projects">
    <section class="section-info">
      <h2 class="heading-secondary">最近项目</h2>
      <button class="btn btn-read">
        <a href="/projects">查看更多</span></a>
    </button>
  </section>
  <div class="columns">
    {% set columns = collections.projects %}
    {% include 'layouts/column.njk' %}
  </section>
{% endblock content %}