<div id="articles" class="section articles">
  <h2 class="secondary-heading secondary-heading-articles">资源</h2>
  <div class="articles-wrapper">
    <div class="content repos-content">
      <h3 class="tertiary-heading">Repos</h3>
      <ul class="items repos-items">
        {% set repositories = setting.repos %} {% for repository in repositories %}
        <li class="item repos-item">
          <a class="link repos-link" href="{{repository.url}}">{{repository.title}}</a>
          <span class="repos-description">{{repository.description}}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="content articles-content">
      <h3 class="tertiary-heading">Articles</h3>
      <ul class="items articles-items">
        {% set postslist = collections.posts %} {% for post in postslist %}
        <li class="item articles-item">
          <a class="link articles-link" href="{{ post.url }}">{{ post.data.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>