{% extends "layouts/base.njk" %}
{% block content %}
  <div class="post">
    <div class="post-article">
      <div class="post__info">
        <h1 class="post__title">{{ title }}</h1>
        <time class="post__date" datetime="{{ date | dateISO }}">{{ date | dateReadable }}</time>
      </div>
      {{ content | safe}}
    </div>
  </div>
{% endblock content %}
{% block footer %}{% endblock footer %}