{% extends "layouts/base.njk" %}

{% block pageHeader%}{% endblock pageHeader%}

{% block content %}
<div class="post">
  <div class="post-article">

    {{ content | safe}}

  </div>
</div>
{% endblock content %}
{% block pageFooter %}{% endblock pageFooter %}
