.nav {
  display: flex;
  height: 58px;
  font-size: 1.8rem;

  @media only screen and (max-width: 580px) {
    height: fit-content;
  }
}

.site-nav {
  width: 100%;
  display: flex;
  align-items: center;
  // border-bottom: var(--line);

  @media only screen and (max-width: 580px) {
    position: relative;
    flex-direction: column;
    margin-top: 15px;
  }
}

.site-nav__brand {
  margin-right: 4rem;

  @media only screen and (max-width: 900px) {
    padding-bottom: 1rem;
    // margin-right: auto;
  }
}

.site-nav__logo {
  display: block; // 去除行内元素垂直布局的间隙
  fill: var(--highlight-3);
  @include size(3rem, 3rem);

  @media only screen and (max-width: 580px) {
    display: inline-block;
    vertical-align: text-top;
    margin-right: 1rem;
  }
}

.site-nav__link {
  &:link,
  &:visited {
    display: inline-block;
    padding: 1.5rem 1rem;
    border-bottom: var(--line-transparent);
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 2rem;

      @media only screen and (max-width: 900px) {
        margin-right: 0;
      }
    }

    &:first-child {
      padding-left: 0;
    }

    @media only screen and (max-width: 900px) {
      display: block;
      padding: 1rem 0;
      border-bottom: 0;
      font-size: 1.6rem;
    }
  }

  &:hover:not(.is-active),
  &:active:not(.is-active) {
    color: var(--highlight-1);
  }
}

.site-nav__link.is-active {
  border-bottom-color: var(--highlight-3);
}

.site-nav__items {
  transition: all 0.2s;

  @media only screen and (max-width: 900px) {
    display: none;
    width: 0;
  }
}

.mobile-site-nav__info {
  display: none;
  @media only screen and (max-width: 580px) {
    display: inline-block;
  }
}

.navbar__menu,
.nav__list, 
.nav__item {
  height: 100%;
  @media only screen and (max-width: 580px) {
    height: 38px;
  }
}

/* Navbar list styles*/
.nav__list {
  display: flex;
  margin-bottom: 0;
}

.nav__item {
  padding: .25rem 0;
  font-size: 1.6rem;
  overflow: hidden;
}

.nav__item:hover {
  overflow: visible;
}

.nav__item:hover .dropdown {
  opacity: 1;
  transform: translateY(0);
}

.nav__item:hover button svg {
  transform: rotate(180deg);
}

.nav__item > a {
  position: relative;
}

.nav__item > a::after {
  content: "";
  position: absolute;
  /* top: 100%; */
  bottom: .5rem;
  left: 1.25rem;
  right: 1.25rem;
  height: 1px;
  background-color: var(--highlight-1);
  transform: scaleX(0);
  transition: .2s ease-in-out;
}

.nav__item > a:hover::after {
  transform: scaleX(1);
}

.nav__link,
.nav__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1.25rem;
}

.nav__item button svg {
  transition: .2s cubic-bezier(0.4, 0, 1, 1);
}