// 侧边栏

.sidebar {
  flex: 0 0 20%;
  font-size: 1.2rem;

  @media only screen and (max-width: 790px) {
    // 760px
    display: none;
  }

  &__article__link {
    font-size: 1.563rem;

    &:hover {
      text-decoration: underline;
    }
  }

  // 侧边栏作者介绍
  &__about-info {
    display: flex;
    align-items: center;
  }

  &__photo {
    display: block;
    margin-right: 2rem;
    border-radius: 50%;
    @include size(5rem, 5rem);
  }

  &__para {
    font-size: 1.563rem;
  }
}
