---
layout: layouts/base.njk
permalink: /tags/index.html
title: 标签
---

{% block content %}
  <section class="tags">
    <h1 class="heading-secondary heading-secondary--aside">标签</h1>
    <ul class="tags__items">
      {% for tag in collections.tagList %}
        <li class="tags__item" style="margin-right: 2rem;">
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a class="tags__link" href="{{ tagUrl }}">{{ tag }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock content %}
{% block pageFooter %}{% endblock pageFooter %}