---
layout: layouts/base.njk
permalink: /tags/index.html
---

{% block content %}
  <section class="tags">
    <h3 class="heading-tertiary heading-tertiary--aside" style="font-size: 2.8rem; border-bottom: none;">标签</h3>
    <ul class="tags__items">
      {% for tag in collections.tagList %}
        <li class="tags__item" style="margin-right: 2rem;">
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a class="tags__link" href="{{ tagUrl }}">{{ tag }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock content %}
{% block pageFooter %}{% endblock pageFooter %}
