---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - posts
    - bookmarks
    - projects
    - all
    - tagLists
  addAllPagesToCollections: true
permalink: /tags/{{ tag }}/
---

{% extends "layouts/base.njk" %}

{% block articlesPage %}
  <h1 class="heading-primary">{{ tag }}</h1>
  <div class="bookmarks">
    <div class="categories">
      {% set postslist = collections[tag] %}
      {% include "layouts/postslist.njk" %}
    </div>
  </div>
{% endblock articlesPage %}
{% block pageFooter %}{% endblock pageFooter %}